<section id="blog" style="background-color: #BD2826"><div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading"><span style="font-weight: 100;">Der</span> Legal Tech Blog</h2>
            <p class="section-subheading-feature" style="color: #f4f4f4">Der Blog des Legal Tech Centers wird gehostet von <a href="{{ site.blogUrl }}" target="_blank" style="color: #333;">Beck Online</a>.</p>
            <p class="section-subheading-feature">
                <button onclick="javascript: window.open('{{ site.blogUrl }}'); " style="background-color: #fff">
                    <img src="{{ "/img/logos/beck.png" | prepend: site.baseurl }}" style="padding: 5px">
                </button>
            </p>
        </div>
    </div>
    <div class="row"><div class="col-sm-4">

    </div></div>
</div></section>