<!-- Services Section -->
    <section id="research" class="bg-eery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><span style="font-weight: 100;">Das</span> Legal Tech Center</h2>
                    <p class="section-subheading-feature">Im Legal Tech Center arbeiten Wissenschaftler, Anwälte, Unternehmer und Programmierer an digitalen Technologien und technologiegestützten Methoden im Recht.</p>
                    <p class="section-subheading-feature">Wir erforschen, entwickeln, prototypen und vermitteln, was die Digitalisierung dazu beitragen kann, Arbeit mit Recht effektiver und transparenter zu machen, mehr Qualität zu gewährleisten und Zugang zum Recht für alle zu ermöglichen.</p>
                    <p class="section-subheading-feature">Vor allem konzentrieren wir uns auf drei Bereiche</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Blockchain</h4>
                    <p class="text-muted">Transaktionen jeder Art werden in Zukunft auf einer geteilten Vertrauensinfrastruktur automatisiert ausgeführt und transparent dokumentiert werden. Blockchain als neue Basistechnologie im Recht?</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gear fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Industrialisierung</h4>
                    <p class="text-muted">Rechtsdienstleistungen werden industrialisiert durch Standardisierung einzelner Vertragstypen bis hin zur gesamten anwaltlichen Fallbearbeitung. Standardisierung und Industrialisierung helfen Kosten zu senken und mehr Recht für größere Verkehrskreise zu erschließen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Künstliche Intelligenz</h4>
                    <p class="text-muted">Rasante Fortschritte im Bereich Machine Learning und Big Data wirken vielseitig auf das Recht ein: von Kosteneinsparungen in der Rechtspraxis bis hin zur Frage der Rechtspersönlichkeit autonomer Maschinen.</p>
                </div>
            </div>
        </div>
    </section>